@model Application.ViewModels.SaveProducerViewModel
@{
    ViewData["Title"] = "Delete Producer";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="card bg-danger">
            <div class="card-header bg-danger text-white">
                <h5>Esta seguro que desea eliminar la productora @Model.Name ?</h5>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Producer" asp-action="DeletePost">
                    <input type="hidden" asp-for="Id" />
                    <button class="btn btn-danger">Delete</button>
                    <a asp-controller="Producer" asp-action="Index" class="btn btn-success">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

